
@{
    ViewData["Title"] = "Unauthenticated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">@ViewBag.ErrorMessage</h1>
<a asp-area="" asp-controller="Auth" asp-action="LogIn">Log in here!</a>